# Dictionary, List, Tuple in Python

## Dictionary


 * ประเภทข้อมูลที่เก็บข้อมูลในรูปแบบคู่ของ Key และ Value โดยที่ Key ใช้สำหรับเป็น Index ในการเข้าถึงข้อมูล มีค่าที่เป็น unique ไม่ควรซ้ำกัน และ เป็น Datatype ประเภท Strings, numbers และ Tuples ส่วน Value  เป็นค่าข้อมูลที่สอดคล้องกับ Key สามารถเป็น Datatype ประเภทใดก็ได้ โดยรูปแบบของตัวแปรของ Dictionary คือ
   
                 variable = {key : value}  และคั่นสมาชิกแต่ละตัวด้วยเครื่องหมายคอมมา (,)  
 
 
 
 
 ### การประกาศค่าลงไปใน Dictionary 

   * ในการใช้งาน Dictionary มักจะใช้เก็บข้อมูลที่สามารถใช้บางอย่างที่สามารถจำแนกข้อมูลออกจากกันได้ โดยกำหนดให้สิ่งนั้นเป็น Key ในการประกาศ Dictionary สมาชิกของมันจะอยู่ภายในวงเล็บปีกกา {}  
           โดยมีรูปแบบการประกาศได้ 3 รูปแบบดังนี้
 
 
 1. เป็นการประกาศ Dictionary ว่าง

In [6]:
my_fruit = {}
print(my_fruit)

{}

 2. เป็นการประกาศ Dictionary ที่มี keys เป็น integer

In [ ]:
# ตัวอย่างข้อมูล 1:'orange',2:'cherry',3:'grape',4:'peach',5:'melon'
# print(my_fruit)

{1: 'orange', 2: 'cherry', 3: 'grape', 4: 'peach', 5: 'melon'}

3. เป็นการประกาศ Dictionary ที่มี keys และ value เป็น Datatype ที่แตกต่างกัน

In [1]:
# my_fruit_person
# ตัวอย่างข้อมูล 'name': 'Somying', 'phone_no': '0815879999', 1:'orange',2:'cherry',3:'grape',4:'peach',5:'melon' 
# print(my_person)

{'name': 'Somying', 'phone_no': '0815879999', 1: 'orange', 2: 'cherry', 3: 'grape', 4: 'peach', 5: 'melon'}

### การเข้าถึงข้อมูลภายใน Dictionary

* เป็นการเข้าถึงข้อมูลเพื่ออ่านค่าที่ต้องการโดยผ่านทาง key เพื่อบอกตำแหน่งที่ต้องการเข้าถึงและครอบด้วยวงเล็บเหลี่ยม [       ] ผลลัพธ์จะได้ value ที่เชื่อมกับ key นั้นและหากเข้าถึง key ที่ไม่มีใน dictionary จะทำให้เกิด error
        ตัวอย่างเช่น

In [ ]:
# print("my name is ", my_fruit_person['what_index'], ",I like ", my_fruit_person['what_index'])

my name is  Somying ,I like  orange

### การอัพเดตหรือเพิ่มข้อมูลใน Dictionary


* ในการเพิ่มข้อมูลใน Dictionary ใน python จะต้องระบุค่า key และ value ที่ต้องการอัพเดตหรือเพิ่ม 
โดยการอัพเดตข้อมูลนั้นจะต้องมี key ตรงกับ key ที่มีอยู่เดิมใน dictionary จะทำให้ value ใหม่เข้าไปแทนที่ value ที่อยู่ใน key นั้นแต่ถ้าเป็นการเพิ่มข้อมูล key ใหม่สามารถเพิ่ม value ได้เลย

* รูปแบบการอัพเดตและเพิ่มข้อมูล
                   name_dict[key] = value      
                  * name_dict คือชื่อของ dictionary
  
  
  
      ยกตัวอย่างการอัพเดตข้อมูล

In [2]:
my_fruit = {1:'orange',2:'cherry',3:'grape',4:'peach',5:'melon'}
print("before update : " , my_fruit)
# update here area

#'longan' 
my_fruit[6] = 'longan'
# update here area 
print("after update   : ", my_fruit)

before update :  {1: 'orange', 2: 'cherry', 3: 'grape', 4: 'peach', 5: 'melon'}
after update   :  {1: 'orange', 2: 'cherry', 3: 'grape', 4: 'peach', 5: 'melon', 6: 'longan'}

     ยกตัวอย่างการเพิ่มข้อมูล

In [10]:
my_fruit = {1:'orange',2:'cherry',3:'grape',4:'peach',5:'melon'}
print("before update : " , my_fruit)
# Add here area

#'lychee'    
my_fruit.update({6:'lychee'})
# Add here area                
print("after update   : ", my_fruit)

before update :  {1: 'orange', 2: 'cherry', 3: 'grape', 4: 'peach', 5: 'melon'}
after update   :  {1: 'orange', 2: 'cherry', 3: 'grape', 4: 'peach', 5: 'melon', 6: 'lychee'}

### การลบข้อมูลใน Dictionary

* การลบข้อมูลใน Dictionary สามารถลบข้อมูลที่ต้องการได้โดยใช้คำสั่ง del โดยมีรูปแบบดังนี้
                    del name_dict[key]           
                    * name_dict คือชื่อของ dictionary
               
     ตัวอย่างเช่น

In [3]:
print(my_fruit)
del my_fruit[3] 
print(my_fruit)

{1: 'orange', 2: 'cherry', 3: 'grape', 4: 'peach', 5: 'melon'}
{1: 'orange', 2: 'cherry', 4: 'peach', 5: 'melon'}

* หากต้องการลบ key และ value ทั้งหมดใน dictionary จะต้องใช้ method clear() มีรูปแบบดังนี้
                name_dict.clear() 
                * name_dict คือชื่อของ dictionary
  ตัวอย่างเช่น

In [4]:
my_fruit = {1:'orange',2:'cherry',3:'grape',4:'peach',5:'melon'}
# remove all entries in dict method clear() 
print('before : ',my_fruit)
my_fruit.clear()
print('afrer : ',my_fruit)

before :  {1: 'orange', 2: 'cherry', 3: 'grape', 4: 'peach', 5: 'melon'}
afrer :  {}

In [8]:
#ใช้คำสั่ง pop เพื่อ remove ข้อมูลใน dictionary method pop()
my_fruit = {1:'orange',2:'cherry',3:'grape',4:'peach',5:'melon'}
#your code here !
my_fruit.pop(3)

print(my_fruit)

{1: 'orange', 2: 'cherry', 4: 'peach', 5: 'melon'}

* หากต้องการลบตัวแปร dictionary มีรูปแบบดังนี้
                del name_dict             
                * name_dict คือชื่อของ dictionary
     ตัวอย่างเช่น

In [11]:
my_fruit = {1:'orange',2:'cherry',3:'grape',4:'peach',5:'melon'}
# remove all entries in dict

#your code 
del my_fruit[3]

print(my_fruit) # เมื่อ print my_fruit จะ error

{1: 'orange', 2: 'cherry', 4: 'peach', 5: 'melon'}

### การอ่านค่าใน Dictionary ด้วยคำสั่ง For loop


* คำสั่ง For loop นั้นเป็นคำสั่งที่ยืดหยุ่นและสามารถใช้งานได้อย่างหลากหลาย ในการอ่านค่าใน Dictionary นั้นสามารถใช้ For loop เพื่อวนอ่านค่าทั้ง Key และ Values ใน Dictionary ได้

    
    
 1. เป็นการวน loop อ่านค่า keys และ values โดยใช้ method items()  
 
 
 ยกตัวอย่างเช่น

In [7]:
my_fruit = {1:'orange',2:'cherry',3:'grape',4:'peach',5:'melon', "name":"somchai"}
#เป็นการวน loop อ่านค่า keys และ values โดยใช้ method items()
for i,j in my_fruit.items() :
    print(i,j)

1 orange
2 cherry
3 grape
4 peach
5 melon
name somchai

2. เป็นการวน loop อ่านค่า keys ทั้งหมดภายใน Dictionary โดยใช้ method keys() 

ยกตัวอย่างเช่น

In [12]:
my_fruit = {1:'orange',2:'cherry',3:'grape',4:'peach',5:'melon'}
# iterate through keys
print('Key:', end = ' ')
# เป็นการวน loop อ่านค่า keys ทั้งหมดภายใน Dictionary โดยใช้ method keys()
for i in my_fruit.keys() :
    print(i,end=" ")

Key: 1 2 3 4 5

3. เป็นการวน loop อ่านค่า values ทั้งหมดภายใน Dictionary โดยใช้ method values() 

ยกตัวอย่างเช่น

In [14]:
my_fruit = {1:'orange',2:'cherry',3:'grape',4:'peach',5:'melon'}
# iterate through values
print('Value:', end = ' ')
# เป็นการวน loop อ่านค่า values ทั้งหมดภายใน Dictionary โดยใช้ method values()
for v in my_fruit.values() :
    print(v,end = ' ')

Value: orange cherry grape peach melon

### คุณสมบัติของ keys ใน Dictionary

* ไม่อนุญาตให้เพิ่มข้อมูลมากกว่า 1 value ต่อ  1 key ซึ่งหมายความว่าไม่อนุญาตให้มี key ซ้ำกัน แต่ถ้ามี key ซ้ำกันระหว่างการ assignment ผลลัพธ์จะเป็นการ assignment ล่าสุด


ยกตัวอย่างเช่น

In [15]:
dict = {'Name': 'Zara', 'Age': 7, 'Name': 'Manni'}  #duplicate keys
# print ("dict['Name']: ", ??? )
print("dict ['Name']: ",dict['Name'])

dict ['Name']:  Manni

* keys สามารถเป็น Datatype ได้เพียง 3 ประเภทคือ Strings, Numbers และ Tuples หากไม่อยู่ในทั้ง 3 ประเภทนี้จะเกิด error

In [16]:
dict = {['Name']: 'Zara', 'Age': 7} #['Name'] is not Strings, numbers and tuples
# print ("dict['Name']: ", ??? )
print("dict['Name'] : ",dict[['Name']]

SyntaxError: unexpected EOF while parsing (Temp/ipykernel_9204/2417456703.py, line 3)

### Built-in Dictionary Functions 


1. len(dict) เป็นฟังก์ชั่นที่จะ return ค่ากลับเป็นจำนวนของวัตถุใน Dictionary

In [17]:
fruit = {1 : 'Apple' , 2 : 'Orange' , 3 : 'Grape' , 4 : 'Banana'}
# print('Length is' , ??? )
print('Length is : ',len(fruit))

Length is :  4

  2. sorted (dict[,reverse]) เป็นฟังก์ชั่นที่จะ return ค่ากลับเป็น value ใน Dictionary ที่ถูกเรียงลำดับจากน้อยไปมาก โดยถ้า set ค่า reverse เป็น True จะทำให้เรียงแบบย้อนกลับจากมากไปน้อย

In [22]:
dict = {'Name': 'Zara', 'Age': 7};
print(sorted(dict))
print ("Equivalent String : %s" % str (dict))
# print(type((dict)))

['Age', 'Name']
Equivalent String : {'Name': 'Zara', 'Age': 7}

### Dictionary Methods

* methods ช่วยให้ทำงานได้ง่ายขึ้น โดยส่วนมากจะใช้ methods เพื่ออัพเดตและรับข้อมูลภายใน Dictionary 


1. clear() เป็นเมธอดที่ใช้ในการลบข้อมูลภายใน Dictionary ทั้งหมด

In [ ]:
dict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}

  2. copy() เป็นเมธอดที่ใช้ในการคัดลอกข้อมูลภายใน Dictionary

In [23]:
dict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
print(dict)

new_dict = dict.copy()
print(new_dict)

{'Name': 'Zara', 'Age': 7, 'Class': 'First'}
{'Name': 'Zara', 'Age': 7, 'Class': 'First'}

  3.  get(key[, default])  เป็นเมธอดเพื่อเข้าถึงข้อมูล(value) และส่งค่าข้อมูลใน Dictionary จาก Key ที่กำหนด ถ้าหากไม่มี Key อยู่และไม่ได้กำหนด default จะส่งค่ากลับเป็น ‘None’

In [43]:
dict = {'Name': 'Zabra', 'Age': 7}
# print ("Value : %s" %  dict.get('Age'))
print("Value : %s" %  dict.get( 'Panuwat' ,  'no' ))

Value : no

* กรณีที่ไม่มี key ใน dictionary และไม่ได้กำหนด default จะส่งค่ากลับเป็น 'None'

In [ ]:
dict = {'Name': 'Zabra', 'Age': 7}
print (dict.get('Education'))

   4. items() เป็นเมธอดที่สามารถส่งข้อมูล (key, value) ทั้งหมดใน Dictionary กลับมาเป็น List

In [29]:
countries = {1: 'Germany', 2: 'Ukraine',3: 'Thailand', 4: 'Netherlands'}

# print(countries.what_method())
print(countries.items())

dict_items([(1, 'Germany'), (2, 'Ukraine'), (3, 'Thailand'), (4, 'Netherlands')])

In [30]:
 display = countries.items()
type(display)

dict_items

   5. keys() เป็นเมธอดที่จะส่ง keys ทั้งหมดใน Dictionary กลับมาเป็น List

In [32]:
countries = {1: 'Germany', 2: 'Ukraine',3: 'Thailand', 4: 'Netherlands'}

print(countries.keys())

dict_keys([1, 2, 3, 4])

  6. values() เป็นเมธอดที่สามารถส่ง values ทั้งหมดใน Dictionary กลับมาเป็น List

In [41]:
countries = {1: 'Germany', 2: 'Ukraine',3: 'Thailand', 4: 'Netherlands'}

print(countries.values())

dict_values(['Germany', 'Ukraine', 'Thailand', 'Netherlands'])

  7. fromkeys(seq[,value]) เป็นเมธอดเพื่อสร้าง variable ของ Dictionary โดยดึงค่าจาก List ที่กำหนดไว้แล้วมาเป็นค่า key ของ Dictionary ใหม่ หากไม่ได้กำหนดค่า value จะเป็น None แต่หากกำหนดค่าให้กับ value ทุก key จะมีค่าเท่ากับ value ที่กำหนดไว้
  
 * กำหนดค่า value

In [40]:
seq = ('Germany','Thailand','Laos','China')
country = dict.fromkeys(seq,[10])
print(country)

{'Germany': [10], 'Thailand': [10], 'Laos': [10], 'China': [10]}

   * ไม่ได้กำหนดค่า value

In [42]:
seq = ('Germany','Thailand','Laos','China')
country = dict.fromkeys(seq)
print(country)

{'Germany': None, 'Thailand': None, 'Laos': None, 'China': None}

   8. pop(key[, default]) เป็นเมธอดใช้ในการดึงค่า value ของ Dictionary และลบออก และจำเป็นต้องกำหนดค่า key ที่ต้องการ หากไม่ได้ระบุจะทำให้ error

In [45]:
countries = {1: 'Germany', 2: 'Ukraine',3: 'Thailand', 4: 'Netherlands'}

print(countries.pop(1))
print(countries)

Germany
{2: 'Ukraine', 3: 'Thailand', 4: 'Netherlands'}

   9. popitem() เป็นเมธอดเพื่อดึงค่า key และ value ตัวสุดท้ายของ Dictionary และส่งกลับในรูปของ Tuple

In [47]:
countries = {1: 'Germany', 2: 'Ukraine',3: 'Thailand', 4: 'Netherlands'}

print(countries.popitem())
countries

(4, 'Netherlands')

{1: 'Germany', 2: 'Ukraine', 3: 'Thailand'}

   10. update([other]) เป็นเมธอดเพื่ออัพเดตค่า value ที่ตรงกับ key ที่จะเปลี่ยน

In [48]:
countries = {1: 'Germany', 2: 'Ukraine',3: 'Thailand', 4: 'Netherlands'}
# data updaate 4:'China'

countries.update({4:'China'})
print(countries)

{1: 'Germany', 2: 'Ukraine', 3: 'Thailand', 4: 'China'}

 * กรณีที่ไม่มี key นั้นอยู่ใน Dictionary จะเป็นการเพิ่มข้อมูลใหม่

In [49]:
countries = {1: 'Germany', 2: 'Ukraine',3: 'Thailand', 4: 'Netherlands'}
# data update 5:'China'

countries.update({10:'China'})
print(countries)

{1: 'Germany', 2: 'Ukraine', 3: 'Thailand', 4: 'Netherlands', 10: 'China'}

# list

In [52]:
L = ["Happy", [2, 0, 1, 5]] 

#เรียก List ตัวแรก (ตำแหน่งที่ 0) 
print(L[0][0])
# your code

# เรียกตัวที่สอง (ตำแหน่งที่ 1) ของ List ตัวแรก
print(L[1][0])
# your code

H
2

In [54]:
my_list = ['p', 'r', 'o', 'b', 'e']
# print(my_list[index])
print(my_list[-5])

p

In [56]:
my_list = ['p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'z']

#เรียก list ตั้งแต่ตำแหน่งที่ 2 จนถึง 5 
print(my_list[2:6])

['o', 'g', 'r', 'a']

In [57]:

#ตั้งแต่ตำแหน่งที่ 0 (จากด้านหน้า) จนถึงตำแหน่งที่ -5 (นับจากข้างหลัง)
print(my_list[0:-5])

['p', 'r', 'o', 'g']

In [61]:

#ตั้งแต่ตำแหน่งที่ 5 จนถึงตำแหน่งสุดท้าย
print(my_list[5::])

['a', 'm', 'i', 'z']

In [62]:
print(my_list[::])
#ทุกตัว

['p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'z']

In [64]:
list = ['physics', 'chemistry', 1997, 2000];
# กำนดค่า list ในตำแหน่งที่เราต้องการ update ใหม่
list[2] = 'cute'
print (list)
print ("New value available at index 2 : ", list[2])

['physics', 'chemistry', 'cute', 2000]
New value available at index 2 :  cute

In [65]:
odd = [2, 4, 6, 8]
#เปลี่ยนค่าในตำแหน่งที่ 1 ถึง 3
odd[1:3] = [11,12,13]
print (odd)

[2, 11, 12, 13, 8]

In [66]:
odd = [0, 4]
#แทรกเลข 3 ลงไปข้างตำแหน่งที่ 0
odd.insert(0,3)
print (odd)

[3, 0, 4]

In [67]:
#ใช้ operatoe "+" ในการรวมเอา 2 list รวมเข้าด้วยกัน 
print(odd+[11,56,49,54])

[3, 0, 4, 11, 56, 49, 54]

# tuple

In [ ]:
my_tuple = (4, 2, 3, [6, 5])
my_tuple[1] = 9 #จะ error เนื่องจากไม่สามารถเปลี่ยนแปลงค่าใน tuple ได้

TypeError: 'tuple' object does not support item assignment

In [68]:
#เพิ่มสมาชิกใน tuple เนื่องจาก tuple เป็น immutable ไม่สามารถเปลี่ยนแปลง tuple ได้โดยตรง
#จึงต้องใช้การ merge ด้วย + operator เป็นการสร้าง tuple ใหม่
my_tuple = (4, 2, 3) 
new_my_tuple=my_tuple+(112,)
new_my_tuple
# your code
# new_my_tuple

(4, 2, 3, 112)

In [3]:
my_tuple = (4, 2, 3)  
# tuple >> list
myList = list(my_tuple)
print(type(myList))
myList.append(33)
print(myList)
my_tuple = tuple(myList)
print(type(my_tuple))
my_tuple

<class 'list'>
[4, 2, 3, 33]
<class 'tuple'>

(4, 2, 3, 33)

In [4]:
#เพิ่ม element ใหม่ คือ 8 แทรกระหว่าง 2 และ 3 ใน (4,2,3)  --- วิธีที่ 1
my_tuple = (4, 2, 3) 
new = my_tuple[:2]+(8,)+my_tuple[2:]
new

(4, 2, 8, 3)

In [8]:
##เพิ่ม element ใหม่ คือ 8 แทรกระหว่าง 2 และ 3 ใน (4,2,3)  --- วิธีที่ 2
my_tuple = (4, 2, 3) 
Lists = list(my_tuple)
Lists.insert(2,8)
Lists
my_tuple = tuple(Lists)
print(my_tuple,type(my_tuple))

(4, 2, 8, 3) <class 'tuple'>

# Slicing Lists

In [9]:
grades = ["A", "B", "C", "D", "F"]

In [10]:
# ตำแหน่งติดลบ ตำแหน่งที่ -1
grades[-1]

'F'

In [11]:
# ตำแหน่งติดลบ ตำแหน่งที่แรกถึง -1 (ก่อนตำแหน่งสุดท้าย)
grades[:-1]

['A', 'B', 'C', 'D']

In [12]:
# ตำแหน่งก่อนหน้าตำแหน่งที่ 0
print(grades[:0])

[]

In [14]:
# ตำแหน่งที่ 0 ถึง 4 เพิ่มขึ้นทีละ 3 
print(grades[0:4:3])

['A', 'D']

In [15]:
# ตำแหน่งที่ -5 ถึง แรก เพิ่มขึ้นทีละ 2
print(grades[-5::2])

['A', 'C', 'F']

In [17]:
# ย้อนกลับ
grades[::-1]

['F', 'D', 'C', 'B', 'A']

เขียนโค้ดเพื่อสร้าง dictionary โดยมี key ที่เป็น name ชื่อ Somchai และ phone คือ 081-508-1234 พร้อมทั้งแสดงผลข้อมูลของ dictionary ที่สร้าง

In [21]:
dic = {'name':'somchai','phone':'0815081234'}

ต้องการเปลี่ยนเบอร์โทรศัพท์ของสมชายเป็น 086-378-9595 แสดงผลข้อมูลของ dictionary ที่แก้ไข

สร้าง list เก็บข้อมูลชื่อวิชาดังนี้ Data Structure, Database, Calculus, Linear Algebra, Discrete, Statistics, Thai Writing ให้แสดงผล list ที่สร้าง