###  Read CSV

### Missing Values

#### จัดการกับ Missing Values

ตรวจสอบว่าพบค่า missing values ใน column ใดบ้าง

เลือก column ที่มีค่า missing value และแสดงค่าที่พบ

เปลี่ยนค่า missing values ของ column ที่พบค่า missing ด้วยค่าฐานนิยม

ตรวจสอบอีกครั้งหลังจัดการกับค่า missing values ว่าพบค่า missing values หรือไม่

Converting string labels into numbers (Import LabelEncoder)

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('Dating2.csv')
df[df.isnull().any(axis=1)]

      outlook temperature humidity   windy Money  Gender Dating
19      sunny         hot   normal    weak   NaN    male    Yes
30      rainy         hot     high    weak   NaN  female     No
34      rainy        mild   normal  strong   NaN    male    Yes
35   overcast        mild     high  strong   NaN  female    Yes
44   overcast         hot   normal  strong   NaN  female     No
..        ...         ...      ...     ...   ...     ...    ...
899  overcast        cool     high  strong   NaN  female     No
906  overcast         hot     high    weak   NaN    male    Yes
907  overcast         hot     high  strong   NaN    male     No
939  overcast        mild     high    weak   NaN  female     No
988     rainy        cool   normal  strong   NaN  female     No

[89 rows x 7 columns]

In [3]:
df1 = df[df.Money.isnull()]
df1

      outlook temperature humidity   windy Money  Gender Dating
19      sunny         hot   normal    weak   NaN    male    Yes
30      rainy         hot     high    weak   NaN  female     No
34      rainy        mild   normal  strong   NaN    male    Yes
35   overcast        mild     high  strong   NaN  female    Yes
44   overcast         hot   normal  strong   NaN  female     No
..        ...         ...      ...     ...   ...     ...    ...
899  overcast        cool     high  strong   NaN  female     No
906  overcast         hot     high    weak   NaN    male    Yes
907  overcast         hot     high  strong   NaN    male     No
939  overcast        mild     high    weak   NaN  female     No
988     rainy        cool   normal  strong   NaN  female     No

[89 rows x 7 columns]

In [4]:
df['Money'].mode
df

      outlook temperature humidity   windy Money  Gender Dating
0    overcast         hot     high    weak    No  female    Yes
1       sunny         hot   normal    weak   Yes  female    Yes
2       sunny        mild     high  strong    No  female    Yes
3       rainy        cool   normal    weak    No    male    Yes
4    overcast        mild   normal    weak   Yes  female    Yes
..        ...         ...      ...     ...   ...     ...    ...
995     sunny         hot   normal    weak    No    male    Yes
996  overcast        cool   normal    weak    No    male     No
997     sunny        cool     high  strong    No    male    Yes
998  overcast        cool     high    weak   Yes  female    Yes
999  overcast        cool     high  strong   Yes  female     No

[1000 rows x 7 columns]

In [5]:
df.Money.isnull()

0      False
1      False
2      False
3      False
4      False
       ...
995    False
996    False
997    False
998    False
999    False
Name: Money, Length: 1000, dtype: bool

In [6]:
# encode temp and play columns.
# Converting string labels into numbers

# Import LabelEncoder
from sklearn import preprocessing

#creating labelEncoder
number = preprocessing.LabelEncoder()
#df['Dating'] = number.fit_transform(df['Dating'])
df['outlook'] = number.fit_transform(df['outlook'])
df['temperature'] = number.fit_transform(df['temperature'])
df['humidity'] = number.fit_transform(df['humidity'])
df['windy'] = number.fit_transform(df['windy'])
df['Money'] = number.fit_transform(df['Money'])
df['Gender'] = number.fit_transform(df['Gender'])


print(df)

     outlook  temperature  humidity  windy  Money  Gender Dating
0          0            1         0      1      0       0    Yes
1          2            1         1      1      1       0    Yes
2          2            2         0      0      0       0    Yes
3          1            0         1      1      0       1    Yes
4          0            2         1      1      1       0    Yes
..       ...          ...       ...    ...    ...     ...    ...
995        2            1         1      1      0       1    Yes
996        0            0         1      1      0       1     No
997        2            0         0      0      0       1    Yes
998        0            0         0      1      1       0    Yes
999        0            0         0      0      1       0     No

[1000 rows x 7 columns]

sklearn library, which can be found in sklearn.naive_bayes:

sklearn.naive_bayes.CategoricalNB: 
    for using Naive Bayes on categorical predictor variables.
            
sklearn.naive_bayes.GaussianNB: 
    for Naive Bayes on numerical predictor variables, with the assumption 
    that these variables follow Gaussian distribution.
    
sklearn.naive_bayes.MultinomialNB: 
    the predictor variables represent the counts, a popular application 
    is in text classification. Fractional counts like tf-idf may also work.
    
sklearn.naive_bayes.ComplementNB: 
    A modification of MultinomialNB which is suitable for imbalanced datasets.
    
sklearn.naive_bayes.BernoulliNB: 
    assumes the data follows Bernoulli distribution (i.e. possible values of 
    predictor variables are 0 and 1).

## NEW DATA SET

overcast,hot,normal,strong,Yes,female
0       ,0  ,1     ,0     ,1  ,0

### Naive Bayes

#### Import Library of Naive Bayes

### GaussianNB

### BernoulliNB

### MultinomialNB

### Categorical

### K-Nearest Neighbor

#### n_neighbors=3

#### n_neighbors=5

In [7]:
from sklearn.naive_bayes import GaussianNB, BernoulliNB, MultinomialNB, CategoricalNB
from sklearn.neighbors import KNeighborsClassifier

In [18]:
Gau = GaussianNB()
Gau.fit(df[['outlook','temperature','humidity','windy','Money','Gender']], df['Dating'])
predicted= Gau.predict([[0,1,1,0,1,0]]) # 1:rain, 1:hot, 0:high, 1:weak
print("Predicted Value:", predicted)

Predicted Value: ['Yes']

C:\Users\user\miniconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but GaussianNB was fitted with feature names
  warnings.warn(

In [19]:
Ber = BernoulliNB()
Ber.fit(df[['outlook','temperature','humidity','windy','Money','Gender']], df['Dating'])
predicted= Ber.predict([[0,1,1,0,1,0]]) # 1:rain, 1:hot, 0:high, 1:weak
print("Predicted Value:", predicted)

Predicted Value: ['Yes']

C:\Users\user\miniconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but BernoulliNB was fitted with feature names
  warnings.warn(

In [20]:
Mul = MultinomialNB()
Mul.fit(df[['outlook','temperature','humidity','windy','Money','Gender']], df['Dating'])
predicted= Mul.predict([[0,1,1,0,1,0]]) # 1:rain, 1:hot, 0:high, 1:weak
print("Predicted Value:", predicted)

Predicted Value: ['No']

C:\Users\user\miniconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but MultinomialNB was fitted with feature names
  warnings.warn(

In [21]:
Cat_NB_model = CategoricalNB()

# Train the model using the training sets
# data =['outlook','temperature', 'humidity','windy'] ,class = 'play'
Cat_NB_model.fit(df[['outlook','temperature','humidity','windy','Money','Gender']], df['Dating'])

#Predict Output
predicted= Cat_NB_model.predict([[0,1,1,0,1,0]]) # 1:rain, 1:hot, 0:high, 1:weak
print("Predicted Value:", predicted)

Predicted Value: ['Yes']

C:\Users\user\miniconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but CategoricalNB was fitted with feature names
  warnings.warn(

In [22]:
KNN_model = KNeighborsClassifier(n_neighbors=3)
#overcast,hot,normal,strong,Yes,female
KNN_model.fit(df[['outlook','temperature','humidity','windy','Money','Gender']], df['Dating'])
predicted= KNN_model.predict([[0,1,1,0,1,0]])
print("Predicted Value:", predicted)

Predicted Value: ['No']

C:\Users\user\miniconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(

In [23]:
KNN_model = KNeighborsClassifier(n_neighbors=5)
#overcast,hot,normal,strong,Yes,female
KNN_model.fit(df[['outlook','temperature','humidity','windy','Money','Gender']], df['Dating'])
predicted= KNN_model.predict([[0,1,1,0,1,0]])
print("Predicted Value:", predicted)

Predicted Value: ['No']

C:\Users\user\miniconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(